:root {
    --MAIN-COLOR:#252e43;
    --SECONDARY-COLOR:#252e43;
    --THIRD-COLOR:#252e43;;
    --BIG-TEXT:60px;
    --MEDIUM-TEXT:24px;
    --SMALL-TEXT:20px;
    --SMALLEST-TEXT:16px;
    --FONT-FAMILY: 'Arial, sans-serif'; 
    --PADDING: 10px;
    --MARGIN: 10px;
    --BIG-MARGIN:20px;
    --BIGGEST-MARGIN:40px;
    --BORDER-RADIUS:30px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size:var(--BIG-TEXT);
    margin:var(--MARGIN);
    line-height:110%;
}

h3 {
    font-size:var(--MEDIUM-TEXT);
    margin:var(--MARGIN);
    line-height:110%;
}

p {
    font-size:var(--SMALL-TEXT);
    margin:var(--MARGIN);
}

a {
    list-style: none;
    outline: none;
    color:white;
    text-decoration:none;
}

a:focus {
    color:white;
}

.logo-text {
    font-size:var(--MEDIUM-TEXT);
    color:black;
}

.small-text {
    font-size: var(--SMALL-TEXT);
    font-weight: bold;
    color:white;
}

.black-text {
    color:black;
}

/* @media only screen and (max-width: 1026px) {
    :root {
        --BIG-TEXT:28px;
        --MEDIUM-TEXT:20px;
        --SMALL-TEXT:14px;
        --FONT-FAMILY: 'Arial, sans-serif'; 
        --PADDING: 10px;
        --MARGIN: 10px;
    }
    
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

section {
    padding: 2rem 0;
}

.half-section {
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.half-section-inner-div{
    width:80%;
}

.container {
    width: 80%;
    height:100%;
    margin: auto;
    overflow: hidden;
    display:flex;
    max-width:1500px;
}


/* =============== BUTTONS  ================ */

.button-container {
    display:flex;
    margin-top:var(--BIGGEST-MARGIN);
}

.button {
    width:240px;
    height: 60px;
    line-height:50px;
    border-radius:var(--BORDER-RADIUS);
    font-size: 18px;
    background-color:#4287f5;
    color:white;
    text-align: center;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.button:hover {
   animation: bounce 0.5s ease;
   cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-7px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.second-button {
    margin-left:10px;
    background-color: #f52525;
}

.arrow-icon {
    height:60%;
    width:auto;
    margin-left:20px;
    align-self: center;
    justify-self: center;
}

/* =========== END OF BUTTONS =========== */


/* =============== NAV ================ */

header {
    background-color: transparent;
    color: white;
    padding: var(--padding);
    z-index:10;
    position: absolute;
    top:0;
    width:100%;
    right:0;
}

#logo {
    height:60%;
    width:auto;
}

nav {
    width: 80%;
    height:80px;
    margin: auto;
    overflow: hidden;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: var(--SMALL-TEXT);
    padding: 0.2rem 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}


nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hero {
    padding: 2rem 0;
    text-align: center;
}

/* Media Queries */

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    header {
        text-align: left;
        padding: 20px;
    }

    nav ul {
        text-align: left;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .hero {
        padding: 1rem 0;
    }
}

/* Medium devices (tablets, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .hero {
        padding: 1.5rem 0;
    }
}

/* Large devices (laptops/desktops, 769px and up) */
@media only screen and (min-width: 769px) {
    .container {
        width: 80%;
    }

    .hero {
        padding: 2rem 0;
    }
}

/* ============= END OF NAV ============== */




/* =============== LANDING PAGE ================ */
main {
    height: 90vh;
    width: 100%;
    background-color: var(--MAIN-COLOR);
    margin: 0;
    position: relative;
}


#background-image {
    width:90%;
    height:auto;
    border-radius:var(--BORDER-RADIUS);
}


/* =============== END OF LANDING PAGE ================ */




/* =============== SERVICES ================ */

#about {
    margin-top:10vh;
}

.services-container {
    display:flex;
    margin:var(--BIG-MARGIN) 0;
}

.icon {
    width:auto;
    height:100px;
    margin-right:var(--BIG-MARGIN);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.services-container:hover > .icon {
    transform: scale(1.2);
}


/* =========== END OF SERVICES =========== */




/* =============== CONTACT ================ */

#contact {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/contact-bg.jpg");
    background-position: center;
    background-size: cover;
}

.contact-form-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    background:rgba(190,190,190,0.9);
    margin:var(--BIG-MARGIN);
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* =========== END OF CONTACT =========== */




/* =============== FOOTER ================ */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.logo-footer{
    width:200px;
    height:auto;
}

/* =============== END OF LANDING PAGE ================ */

