:root {
    --H1-TEXT:65px;
    /* --MAIN-COLOR:#537164; */
    --MAIN-COLOR:#81E546;
    --SECONDARY-COLOR:rgba(0,0,0,0.8);
    --BTN-COLOR:#188bf6;
    --TEXT-COLOR:rgba(255,255,255,1);
    --TEXT-COLOR:rgba(0,0,0,0.8);
    --SOFT-COLOR:#EAE8E1;
    /* --SOFT-COLOR:#e3e1e1; */
    /* --ORANGE-COLOR:#f6ad55; */
    --ORANGE-COLOR:#3CACF6;
    --RED-COLOR:#e93d3d;
    --BIG-TEXT:35px;
    --MEDIUM-TEXT:28px;
    --SMALL-TEXT:20px;
    --SMALLEST-TEXT:16px;
    --FONT-FAMILY: 'Arial, sans-serif'; 
    --PADDING: 10px;
    --MARGIN: 15px;
    --BIG-MARGIN:20px;
    --BIGGEST-MARGIN:30px;
    --BIGGEST-MARGIN:40px;
    --BORDER-RADIUS:11px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color:var(--MAIN-COLOR);
    position: relative;
    overflow-x: hidden;
    padding-top:1px;
}

h1 {
    font-size:var(--H1-TEXT);
    margin:var(--MARGIN);
    line-height:120%;
    width:800px;
    width:100%;
    opacity: 0; /* Start with invisible text */
    animation: fadeInUp 1.5s ease-in-out forwards; /* Apply the animation */
    animation-delay: 0.2s; /* Start animation after h1 is done */
    color:var(--TEXT-COLOR);
}

h2 {
    font-size:var(--BIG-TEXT);
    margin:var(--MARGIN);
    line-height:110%;
    color:var(--TEXT-COLOR);
}

h3 {
    font-size:var(--MEDIUM-TEXT);
    margin:var(--MARGIN);
    line-height:110%;
    color:var(--TEXT-COLOR);
}

p {
    font-size:var(--SMALL-TEXT);
    margin:var(--MARGIN);
    line-height: 130%;
    color:var(--TEXT-COLOR);
}

.big-paragraph {
    font-size:var(--BIG-TEXT);
    margin-bottom:0;
    opacity:0;
    animation: fadeInUp 1.5s ease-in-out forwards; /* Apply the animation */
    animation-delay: 0.2s; /* Start animation after h1 is done */
}

.small-paragraph {
    font-size:23px;
    font-weight: bold;
    margin-top:0;
    opacity:0;
    animation: fadeInUp 1.5s ease-in-out forwards; /* Apply the animation */
    animation-delay: 0.2s; /* Start animation after h1 is done */
}

a {
    list-style: none;
    outline: none;
    text-decoration:none;
}

a:focus {
    color:rgba(255,255,255,0.1);
}

section {
    padding:60px 0;
    position: relative;
}

.centered-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered-text {
    text-align: center;
    color:var(--SECONDARY-COLOR);
    margin:var(--BIG-MARGIN);
}

.big-margin {
    margin:var(--BIG-MARGIN);
}

.main-color {
    color:var(--MAIN-COLOR);
    padding-top:50px;
}

.marked-text {
    color:black;
}

.half-section {
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.half-section-inner-div{
    width: 80%;
    padding: 50px;
}

.container {
    width: 80%;
    height:100%;
    margin: auto;
    overflow: hidden;
    display:flex;
    max-width:1500px;
}

/* Optional: Styling for the map container */
.map-container {
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    border: 1px solid #ddd; /* Optional border for visual appearance */
}

.blue-color {
    color:var(--BTN-COLOR) !important;
    font-weight: bold;
}

.green-color {
    color:var(--MAIN-COLOR) !important;
    font-weight: bold;
}

.padding-top {
    padding-top:var(--BIG-MARGIN);
}

@media only screen and (min-width: 3000px) {
    :root {
        --H1-TEXT:91px;
        --BIG-TEXT:56px;
        --MEDIUM-TEXT:39.2px;
        --SMALL-TEXT:28px;
        --SMALLEST-TEXT:22.4px;
        --FONT-FAMILY: 'Arial, sans-serif'; 
        --PADDING: 20px;
        --MARGIN: 30px;
        --BIG-MARGIN:40px;
        --BIGGEST-MARGIN:80px;
        --BORDER-RADIUS:11px;
    }
    
}

@media only screen and (max-width: 1780PX) {
    :root {
        --H1-TEXT:52px;
        --BIG-TEXT:32px;
        --MEDIUM-TEXT:22.4px;
        --SMALL-TEXT:16px;
        --SMALLEST-TEXT:12.8px;
        --PADDING: 10px;
        --MARGIN: 15px;
        --BIG-MARGIN:20px;
        --BIGGEST-MARGIN:30px;
        --BIGGEST-MARGIN:40px;
        --BORDER-RADIUS:11px;
    }

}

@media only screen and (max-width: 768px) {
    :root {
        --H1-TEXT:30px;
        --BIG-TEXT:26px;
        --MEDIUM-TEXT:20px;
        --SMALL-TEXT:16px;
        --SMALLEST-TEXT:13px;
        --PADDING: 10px;
        --MARGIN: 15px;
        --BIG-MARGIN:20px;
        --BIGGEST-MARGIN:30px;
        --BIGGEST-MARGIN:40px;
        --BORDER-RADIUS:11px;
    }
}
 

/* =============== BUTTONS  ================ */

.button-container {
    display:flex;
    margin:var(--MARGIN) 0;
}

.contact-button {
    width:220px;
    height: 55px;
    line-height:50px;
    border-radius:var(--BORDER-RADIUS);
    font-size: 22px;
    background-color:var(--MAIN-COLOR);
    text-align: center;
    color:var(--TEXT-COLOR);
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.contact-button:hover {
    cursor: pointer;
}

.sub-button {
    width:300px;
    height: 55px;
    line-height:50px;
    border-radius:var(--BORDER-RADIUS);
    font-size: 20px;
    background-color:var(--MAIN-COLOR);
    text-align: center;
    color:var(--TEXT-COLOR);
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.contact-button:hover {
    cursor: pointer;
}


.discount-button {
    width:420px;
    height: 65px;
    line-height:65px;
    border-radius:var(--BORDER-RADIUS);
    font-size: 22px;
    background-color:var(--BTN-COLOR);
    text-align: center;
    color:white;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    opacity:0;
    animation: fadeInUp 1.5s ease-in-out forwards, hinge 3s ease-in-out infinite; 
    animation-delay: 0.7s; 
}

.discount-button:hover {
    cursor: pointer;
}

.prices-button {
    width:280px;
    height: 77px;
    line-height:50px;
    border-radius:var(--BORDER-RADIUS);
    font-size: 22px;
    background-color:var(--MAIN-COLOR);
    text-align: center;
    color:var(--TEXT-COLOR);
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
}

.prices-button:hover {
    cursor: pointer;
}


.button {
    width:240px;
    height: 60px;
    line-height:50px;
    border-radius:var(--BORDER-RADIUS);
    font-size: 18px;
    background-color:var(--BTN-COLOR);
    text-align: center;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.button:hover {
   animation: bounce 0.5s ease;
   cursor: pointer;
}

.red-btn {
    background-color:var(--RED-COLOR);
    color:var(--TEXT-COLOR);
}

.btn-arrow {
    height:50%;
    width:auto;
} 

.btn-arrow-2 {
    height:25px;
    width:auto;
    position: relative;
    top:4px;
} 

.btn-text {
    height:25px;
}

.second-btn-text {
    font-size: var(--SMALLEST-TEXT);
    color:var(--SECONDARY-COLOR);
    margin-top:0;
    height:40px;
    font-weight: 100;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-7px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes hinge {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(3deg);
    }
    40% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(1deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.second-button {
    margin-left:10px;
    background-color: #f52525;
}

.arrow-icon {
    height:60%;
    width:auto;
    margin-left:20px;
    align-self: center;
    justify-self: center;
}

.big-icon {
    width:50px;
    height:auto;
}

@media only screen and (max-width: 768px) {
    .discount-button {
        width:280px;
        height: 50px;
        line-height:50px;
        font-size: var(--SMALL-TEXT);
    }
    
}
   



/* =========== END OF BUTTONS =========== */


/* =============== NAV ================ */

/* Your existing styles */
header {
    background-color: transparent;
    padding: var(--padding);
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 100;
}

#logo {
    height: 60%;
    width: auto;
}

nav {
    width: 80%;
    height: 80px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: transparent;
    background-color: var(--SOFT-COLOR);
    color: var(--MAIN-COLOR);
    color:var(--TEXT-COLOR);
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar.hidden {
    transform: translateY(-100%);
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-right:3%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    position: relative;
    font-size: var(--SMALL-TEXT);
    padding: 0.1rem 0;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--MAIN-COLOR);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    z-index: 10;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hero {
    padding: 2rem 0;
    text-align: center;
}

.navbar.white .logo,
.navbar.white .nav-links li {
    animation: bounceDrop 0.6s ease forwards;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: inherit;
    transition: color 0.3s ease;
    position: relative;
}

@keyframes bounceDrop {
    0% {
        transform: translateY(-30px);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Responsive Hamburger Menu */
.menu-icon {
    cursor: pointer;
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.menu-icon .line {
    height: 4px;
    background-color: var(--MAIN-COLOR);
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Media Queries */
@media only screen and (max-width: 1026px) {
    .menu-icon {
        display: flex; /* Show hamburger on small screens */
    }

    .nav-links {
        position: fixed;
        top: 80px;
        right: 0;
        width: 100vw;
        height:100vh;
        background-color: var(--SOFT-COLOR);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1000;
    }

    nav ul {
        text-align: left; /* Adjust text alignment for mobile */
    }

    nav ul li {
        display: block;
        margin: var(--BIG-MARGIN);
    }

    .nav-links.open {
        transform: translateX(0);
    }

    /* Animate the hamburger icon to an "X" */
    .menu-icon.open .line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .menu-icon.open .line:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.open .line:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    header {
        text-align: left;
        padding: 20px;
    }

    nav ul {
        text-align: left;
    }

    .hero {
        padding: 1rem 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .hero {
        padding: 1.5rem 0;
    }
}

@media only screen and (min-width: 769px) {
    .container {
        width: 80%;
    }

    .hero {
        padding: 2rem 0;
    }
}


/* ============= END OF NAV ============== */




/* =============== LANDING PAGE ================ */
#home {
    margin-top:80px;
    height:75vh;
}

main {
    height: 100vh;
    width: 100%;
    background-color: var(--MAIN-COLOR);
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-text-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height:auto;
    z-index:10;
}

#background-image {
    width:90%;
    height:auto;
    border-radius:var(--BORDER-RADIUS);
}

#secondary-text {
    font-size: var(--MEDIUM-TEXT);
    opacity:0;
    animation: fadeInUp 2.5s ease-in-out forwards; /* Optional animation for paragraph */
    animation-delay: 1s; /* Start animation after h1 is done */
}

.landing-margin-left {
    margin-left:7%;
}

.landing-margin-left-2 {
    margin-left:10%;
}

.landing-margin-left-3 {
    margin-left:50%;
}

.landing-margin-left-4 {
    margin-left:32%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Start 50px below */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}

.big-width-section {
    width:58%;
    height:100%;
    padding-left:var(--BIG-MARGIN);
    background-color: var(--MAIN-COLOR);
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.small-width-section {
    width:42%;
    height:100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blurred-background {
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    backdrop-filter: blur(1px); /* Adjust blur level as needed */
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent background color */
    z-index: 10; /* Ensure it is above the video but below content */
}

.margin-left {
    margin-left:10%;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.background-image {
    position: absolute;
    top:0;
    left:0;
    right:0;
    object-fit: cover;
    width:100%;
    height:100%;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Optional: Adds a dark overlay for better text readability */
}

@media only screen and (max-width: 1026px) {
    .small-width-section{
        display: none;
    }

    .big-width-section {
        width:100%;
        z-index:20;
        background-color: transparent;
    }

    .big-width-section > h1 {
        width:100%;
    }

    .small-width-section {
        position: absolute;
        z-index: 10;
        width:100%;
        height:100%;
        top:0;
        left:0;
        display: flex;
    }

    .landing-margin-left, .landing-margin-left-2, .landing-margin-left-3, .landing-margin-left-4 {
        margin-left:0;
    }
}

 


/* =============== END OF LANDING PAGE ================ */



/* =============== REVIEWS ================ */

#reviews {
    padding-top:0;
    margin-top:0;
    width:100%;
    margin:0 auto;
    background-color: white;
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-divider-container {
    display:flex;
    width:61%;
    height:50%;
    position: relative;
    max-width:1170px;
    justify-content: center;
}

.review-divider-outer-container {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--SOFT-COLOR);
    padding:10px 0;
}

.review-block {
    margin: 1.333% 0.333%;
    width: 30%;
    height:auto;
    text-align: center;
    background-color: white;
    border:2px solid var(--MAIN-COLOR);
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-block > h2 {
   margin: 10px 0 0 0;
   font-size:40px;
   color:var(--BTN-COLOR);
}

.review-block > p {
    margin: 0 0 10px 0;
    font-size:23px;
    color:var(--SECONDARY-COLOR);
    font-weight: 0;
}

.review-header {
    font-size:var(--BIG-TEXT);
}

.review-icon {
    height:40px;
    width:auto;
    margin-right:5px;
    position: relative;
    top:3px;
}

.five-stars-img {
    width:auto;
    height:20px;
    margin-bottom:0;
    position: relative;
    top:5px;
}

/* #review-h2-first {
    margin-top:0;
} */

.review-phone-right {
    position: absolute;
    right:-1.5%;
    top:-19%;
    width:29%;
    max-width:700px;
    height:auto;
    z-index:10;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUpAndDown 4s ease-out forwards;
    /* Adjust delay for each image */
    animation-delay: 3s;
}

.review-phone-left {
    position: absolute;
    left:-1.5%;
    top:-19%;
    width:29%;
    max-width:700px;
    height:auto;
    z-index:10;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUpAndDown 4s ease-out forwards;
    /* Adjust delay for each image */
    animation-delay: 3s;
}

.review-text{
    color:var(--SECONDARY-COLOR);
    font-weight: bold;
    width:70%;
    max-width: 1000px;
}

.review-text-container {
    width:50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
}

@media only screen and (max-width: 1026px) {
    .review-text-container {
        width:100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1000px;
    }

    .review-divider-container {
        width:100%;
    }

    .review-phone-right, .review-phone-left {
        display: none;
    }

}

@media only screen and (max-width: 1026px) {
    .review-block > h2 {
       font-size: var(--SMALL-TEXT);
    }
    
    .review-block > p {
        font-size: var(--SMALLEST-TEXT);
    }
     
}


@keyframes fadeInUpAndDown {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px);
    }
}

@keyframes fillBar {
    to {
        width: var(--stat-width);
    }
}

@keyframes fall {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* ============= END OF REVIEWS ============== */


/* =============== REVIEWS ================ */

#info {
    width:100%;
    margin:0 auto;
    background-color: white;
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/bg.png');
    background-position: center;
    background-size: cover;
}

.info-container {
    display:flex;
    width:80%;
    height:50%;
    position: relative;
    max-width:1370px;
}

.info-block {
    margin:0.7%;
    width:32%;
    height:auto;
    text-align: center;
    background-color: lightcyan;
    border:3px solid var(--ORANGE-COLOR);
 /*    opacity: 0;
    transform: translateY(-200px);
    animation: fadeInUp 1.5s ease-in-out forwards; 
    animation-delay: 1.5s; */
    padding:15px;
}

.info-block > h3 {
    margin: 10px 0 5px 0;
    color:var(--ORANGE-COLOR);
}

.info-block > h4 {
    margin: 5px 0 10px 0;
    color:var(--SECONDARY-COLOR);
    font-size: var( --SMALL-TEXT);
}

.info-block > p {
    margin: 5px 0 10px 0;
    color:var(--SECONDARY-COLOR);
}

.info-text{
    color:var(--SECONDARY-COLOR);
    font-weight: bold;
    width:70%;
    max-width: 1000px;
}

.info-text-container {
    width:50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
}

@media only screen and (max-width: 1028px) {
    .info-container {
        width:90%;
    }

    .info-block {
        animation: none;
        opacity:1;
        transform: translateY(0);
    }

}


@media only screen and (max-width: 768px) {
    .info-container {
        flex-direction: column;
    }

    .info-block {
        width: 100%;
        margin: 2% 0;
    }
}




/* ============= END OF INFO ============== */




/* =============== SERVICES ================ */

#services {
    background-color: var(--SECONDARY-COLOR);
}

.services-container {
    display:flex;
    margin:var(--BIG-MARGIN) 0;
}

.icon {
    width:auto;
    height:100px;
    margin-right:var(--BIG-MARGIN);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.services-container:hover > .icon {
    transform: scale(1.2);
}


/* =========== END OF SERVICES =========== */



/* =============== CONTACT ================ */

.contact-container {
    max-width: 500px;
    position: relative;
    overflow: auto;
    margin:150px auto 75px 50vw;
    border-radius: var(--BORDER-RADIUS);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: unset;
}

.contact-info {
    position: absolute;
    top: 50%;
    left: -260px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:var(--ORANGE-COLOR);
    text-align: start;
    padding:10px;
    width:520px;
    border-top-left-radius: var(--BORDER-RADIUS);
    border-bottom-left-radius: var(--BORDER-RADIUS);
}

.contact-info > div > h2 {
    font-size:var(--MEDIUM-TEXT);
}

.contact-inner-container {
    background-color: var(--BTN-COLOR);
    padding:20px;
    z-index: 50;
    border-top-left-radius: var(--BORDER-RADIUS);
    border-top-right-radius: var(--BORDER-RADIUS);
    overflow:hidden;
}

.form-container {
    background-color: var(--BTN-COLOR);
    text-align: start;
    z-index: 50;
}

.form-container label {
    color:rgba(0,0,0,0.6);
}

.contact-inner-container h1 {
    font-size: var(--MEDIUM-TEXT);
    animation:none;
    opacity: 1;
    width:auto;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--ORANGE-COLOR);
    outline: none;
    background-color: #fff;
}

button[type="submit"], input[type="submit"] {
    padding: 15px;
    border: none;
    border-radius: var(--BORDER-RADIUS);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: var(--MAIN-COLOR);
    background-color: var(--BTN-COLOR);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover, input[type="submit"]:hover {
    background-color: var(--ORANGE-COLOR);
}

@media only screen and (max-width: 1600px) {
   .contact-container{
        margin:150px auto 75px auto;
   }
}

@media only screen and (max-width: 767px) {
    .contact-container{
        width:95%;
    }
 }

/* =========== END OF CONTACT =========== */



/* =============== FOOTER ================ */
footer {
    background: var(--SOFT-COLOR);
    color: var(--SECONDARY-COLOR);
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-footer{
    width:200px;
    height:auto;
}

.footer-container {
    display:flex;
    width:70%;
}

.footer-inner-container {
    display:flex;
    color:var(--SECONDARY-COLOR);
    margin:var(--BIG-MARGIN) 0;
    border-top: 1px solid var(--SECONDARY-COLOR);
    border-bottom: 1px solid var(--SECONDARY-COLOR);
}

.footer-text-section {
    display:flex;
    flex-direction: column;
    width:25%;
    margin:var(--BIG-MARGIN);
}

.footer-container > h2 {
    color:var(--TEXT-COLOR);
    font-size:22px;
}

.footer-text-section > div > h2 {
    color:var(--TEXT-COLOR);
    font-size:var(--BIG-TEXT);
    width:25%;
}

.footer-text-section > p{
    color:var(--SECONDARY-COLOR);
    font-size:var(--SMALL-TEXT);
    margin:5px 0;
}

.footer-text-section > h3 {
    font-size:22px;
    color:var(--TEXT-COLOR);
    margin-bottom: 5px;
}

@media only screen and (max-width: 1026px) {
    .footer-inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-text-section {
        width:80%;
        display: flex;
        justify-content: center;
    }

    .footer-inner-container > h2 {
        width:100%;
    }

    .footer-container {
        width: 90%;
    }
}

/* =============== ARTICLE ================ */

.article-section {
    width:80%;
    max-width: 1600px;
    margin: 50px auto;
    background-color: var(--ORANGE-COLOR);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.article-content-wrapper {
    display: flex;
    width: 100%;
}

.article-image {
    width: 40%;
    overflow: hidden;
}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-content {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

.article-content h1 {
    font-size: var(--BIG-TEXT);
    margin-bottom: 15px;
    color: var(--MAIN-COLOR);
}

.article-content h2 {
    font-size: var(--MEDIUM-TEXT);
    margin-top: 20px;
    margin-bottom: 10px;
}

.article-content p {
    font-size: var(--SMALL-TEXT);
    line-height: 1.6;
    margin-bottom: 15px;
    line-height: 130%;
}

.article-content strong {
    color: var(--MAIN-COLOR);
}




@media only screen and (max-width: 1026px) {
    .article-content-wrapper {
        flex-direction: column;
    }

    .article-content {
        width:100%;
        padding:10px;
    }

    .article-section {
        width:95%;
        padding-top:0;
    }

    .article-image {
        width:100%;
    }
}
 

/* =============== END OF ARTICLE ================ */



/* =============== FAQ ================ */
#faq {
    background-color: var(--SOFT-COLOR);

}

.faq-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.faq-item {
    width:540px;
    border: 1px solid #ccc;
    background-color: var(--MAIN-COLOR);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin:10px;
}

.faq-question {
    font-weight: bold;
    position: relative;
    padding-right: 30px;
    color: var(--TEXT-COLOR);
    font-size: 22px;
}
.faq-question::after {
    content: '';
    position: absolute;
    right: 10px; /* Adjust based on your image size */
    top: 50%;
    transform: translateY(-50%) rotate(0deg); /* Initial down-pointing position */
    width: 20px; /* Adjust based on your image size */
    height: 20px; /* Adjust based on your image size */
    background-image: url('./images/down-arrow.png'); /* Path to your white arrow image */
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease, background-image 0.3s ease;
}
.faq-item.active .faq-question::after {
    transform: translateY(-50%) rotate(180deg); /* Rotate image to point up */
    background-image: url('./images/down-arrow-oj.png'); /* Path to your orange arrow image */
}
.faq-item.active {
    background-color: #fff; /* Ensures background is white when active */
    border-color: var(--ORANGE-COLOR);/* Orange border for the active item */
}
.faq-item.active .faq-question {
    color: var(--ORANGE-COLOR); /* Change question color when active */
}
.faq-item.active .faq-question::after {
    transform: translateY(-50%) rotate(180deg); /* Rotate arrow */
    color: var(--ORANGE-COLOR); /* Change question color when active */
}
.faq-answer {
    display: none;
    margin-top: 10px;
    color: #555;
    line-height: 1.6;

    padding: 10px;
    transition: border-color 0.3s ease;
}
.faq-item.active .faq-answer {
    display: block;
}



@media only screen and (max-width: 1310px) {
    .faq-item {
        width:500px;
    }

}

@media only screen and (max-width: 1026px) {
    .faq-container {
        grid-template-columns: 1fr;
        gap:0; 
    }
}

@media only screen and (max-width: 760px) {
    .faq-item {
        width:80%;
    }

    .faq-question {
        font-size:18px;
    }

    .faq-item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* =============== END OF FAQ ================ */


/* =============== PRICES SUBPAGE ================ */

.benefits, .company-info, .about-us  {
    border:3px solid var(--ORANGE-COLOR);
}

.text-content > p, .text-content > h2, .benefits >h2  {
    color:var(--SECONDARY-COLOR);
}

.prices-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top:100px;
}

.prices-container > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px;
    background-color: var(--SOFT-COLOR);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-us, .company-info {
    flex-direction: row-reverse;
}

.benefits {
    flex-direction: row-reverse;
    align-items: center;
}

.text-content {
    flex: 1;
    padding: 0 20px;
}

.image-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.image-content img {
    max-width: 100%;
    border-radius: 8px;
}

.benefits h2 {
    /* text-align: center; */
    margin-bottom: 20px;
    width: 100%;
}

.benefits ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.benefits ul li {
    margin: 10px 0;
    font-size: 1.1rem;
    padding-left: 15px;
    position: relative;
}

.benefits ul li::before {
    content: '✓';
    color: var(--ORANGE-COLOR);
    position: absolute;
    left: -5px;
    top:-5px;
    font-size: 1.5rem;
}

.book-now {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.book-now:hover {
    background-color: #0056b3;
}

@media only screen and (min-width: 3000px) {
    .prices-container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 20px;
        margin-top:100px;
    }
}

@media only screen and (max-width: 1026px) {
    .image-content {
        width:100%;
    }
}

@media only screen and (max-width: 768px) {
    .text-content{
        padding:0;
    }

    .text-content > h2 {
        font-size:28px;
    }
}





/* =============== END OF PRICES ================ */


/* =============== CHECKLIST ================ */
.checklist-container {
    max-width: 1000px;
    margin: auto;
    background-color: white;
    background-color: var(--SOFT-COLOR);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top:150px;
    margin-bottom:150px;
    border:3px solid var(--ORANGE-COLOR);
}

.checklist-container > h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: var(--BIG-TEXT);
    animation:none;
    opacity: 1;
}

.checklist-nav {
    position: fixed;
    width: 100%;
    top: 80px;
    height:50px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: transparent;
    background-color: var(--SOFT-COLOR);
    color: var(--MAIN-COLOR);
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.checklist-nav.hidden {
    transform: translateY(-260%);
}

.checklist-nav > .nav-links > li > a {
    text-decoration: none;
    position: relative;
    font-size: var(--SMALLEST-TEXT);
    padding: 0.2rem 0;
    font-weight: 600;
}

.checklist-nav > .nav-links > li > a:hover {
    cursor: pointer;
}

.checklist-section > h2 {
    color: #555;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    font-size: var(--MEDIUM-TEXT);
}

.checklist-section > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.checklist-section > p {
    color:var(--SECONDARY-COLOR);
}

.checklist-section > ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.checklist-section > ul li input[type="checkbox"] {
    margin-right: 10px;
}

.note {
    color:black;
    font-size: 0.9em;
}

.checklist-section {
    margin-bottom: 30px;
}

.quote-container {
    display: flex;
    color:var(--MAIN-COLOR) !important;
    font-weight: bold;
    font-size:18px;
    width: 65%;
    margin: 0 auto;
}

.quote-line {
    display: block;
    width:5px;
    height:40px;
    position: relative;
    top:3px;
    background-color: var(--MAIN-COLOR);
    margin-right:10px;
}

.checkmark {
    margin-left:15px;
    margin-right:5px;
}

.checkmark-2 {
    margin-left:0;
    margin-right:0;
}

@media only screen and (max-width: 1026px) {
    .checklist-nav {
        display:none;
    }

    .quote-container {
        width:90%;
    }
}


/* =============== END OF CHECKLIST ================ */
.booking-body {
    background-color: white !important;
    padding-top:1px;
}

.boooking-container {
    max-width:1100px;
    position: relative;
    margin:200px auto 75px auto;
    background-color: white;
    background-color: var(--SOFT-COLOR);
    border-radius: var(--BORDER-RADIUS);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boooking-container p {
    color:var(--SECONDARY-COLOR);
}

.book-text-container {
    display: flex;
}

.book-text-container > section {
    width:50%;
}

.booking-header {
    text-align: center;
}

.booking-header > h1 {
    animation-delay: 0;
}

.boooking-container > div >h1 {
    color: var(--SECONDARY-COLOR);
    font-size: 45px;
    width:auto;
    text-align: center;
    margin-bottom:10px;
}

.book-text-container > section {
    padding:0;
}


.book-text-container > section > div > h2 {
    color: var(--BTN-COLOR);
/*     color:var(--SECONDARY-COLOR); */
    margin-bottom: 10px;
    font-size: var(--MEDIUM-TEXT);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: url('checkmark.png') no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /*   padding:15px;
    background-color: lightcoral;
    border-radius: var(--BORDER-RADIUS); */
}

.form-section form {
    display: flex;
    flex-direction: column;
    width:68%;
}

.form-section-contact {
    width:100%;
}

#contact-form {
    border:none;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: var(--BORDER-RADIUS);
    font-size: 14px;
    background-color: #fff;
    color: #333;
    width:100%;
    appearance: none; /* Removes default styles for dropdowns */
    background-image: url('dropdown-arrow.png'); /* Replace with actual arrow image */
    background-repeat: no-repeat;
    background-position: right 10px center;
    border:2px solid lightgray;
}

.flex-row {
    display: flex;
}

.form-h2 {
    color:var(--BTN-COLOR);
    font-size: var(--MEDIUM-TEXT);
}

.form-inner-container {
    padding:40px;
    overflow: hidden;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: var(--SOFT-COLOR);
    border-bottom-left-radius: var(--BORDER-RADIUS);
    border-bottom-right-radius: var(--BORDER-RADIUS);
}

#iframe-container {
    padding:20px;
    border-radius: var(--BORDER-RADIUS);
    background-color:White;
    margin-left:20px;
}

textarea {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: var(--BORDER-RADIUS);
    font-size: 14px;
    background-color: #fff;
    color: #333;
    width:100%;
    appearance: none; /* Removes default styles for dropdowns */
    background-image: url('dropdown-arrow.png'); /* Replace with actual arrow image */
    background-repeat: no-repeat;
    background-position: right 10px center;
    border:2px solid lightgray;
}


@media only screen and (max-width: 1026px) {
    .boooking-container {
        max-width:95%;
    }

    .form-inner-container {
        padding:20px;
    }
}



@media only screen and (max-width: 767px) {
    .flex-row {
        flex-direction: column;
    }
}

